
$color:rgb(255, 255, 255);

.start{
    background-color: #232536;
    font-size: 16px;
    .navbar-toggler{
        color: #FFD050;
        background-color: #FFD050;
        border-radius: none;
    }
    a{
        color: $color;
    }
    button{
    font-weight: 700;
    font-size: 16px;
        margin-right: 20px;
        height: 40px;
        border-radius: unset;
    }
}
.fluid{
    .container-fluid{
        background:linear-gradient(#232536,rgba(177, 177, 177, 0.158)),url(bg.png);
        background-size: cover;
        background-position: center;
        padding: 7em 2em 12em 0em;
        font-family:sans-serif;
        font-style: normal;
        color:white;
        div{
            padding-bottom: 1em;
        }
        button{
            padding:1em 3em 1em 3em ;
            margin-top: 2em;
            font-weight: 500;
            font-size: 0.8em;
            border-radius:unset;
            background-color:#FFD050
        }
        h1{
            width: 30em;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -2px;
        }
        h6{
    
            text-transform: uppercase;
            letter-spacing: 3px;
            span{
                font-weight: 700;
            }
        }
    }
}
.card{
    padding: 1.5em;
    button{
        padding:1em 3em 1em 3em ;
        margin-top: 2em;
        font-weight: 500;
        font-size: 0.8em;
        border-radius:unset;
        background-color:#FFD050
    }
}
.kard{
    .p-3:hover{
            background-color: #f8eded;
            transition: all 0.5s ease;
            cursor: pointer;
        }
    }

.card-subtitle{
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;  
}
.space{
    .container{
        padding-top: 5em;

    }
    .card{
        border:none;
        padding-bottom: 3em;
    }
    h5{
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -2px;
    }
    .card-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
    }
    h6{
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
    }
}
.spacein{
    .choose{
        margin: 4em 0 1em 0;
    }
    .icon{
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #FBF6EA;
        border-radius: 10px;
    }
    .card:hover{
        background-color: #FFD050;
        transition: all 1s ease;
    }
}
.started{
    padding-top: 5em;
    .container{
        padding-top: 5em;
        background-image: url(close.png);
        background-repeat: no-repeat;
        background-position-y:bottom;
    }
    .card{
        border: none;
        border-radius: unset;
    }
}
.users{
    padding-top: 5em;
    .choose{
        padding-bottom: 1em;
    }
    .card{
        border: none;
        border-radius: unset;
        background: #FBF6EA;    
        a:hover{
            color: #FFD050;
            transition: all 1s ease;
        }
        .btn{
            border: none;
        }
    }
    .card:hover{
        background: #ffedc3;
        transition: all 1s ease;
    }
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.logo{
    .container{
        padding-top: 3em;
        .row{
            text-align: center;
            align-items: center;
        }
    }
    .col-6, .col-12{
        h3{
            color: #6D6E76;
            font-size: 24px;
        }
        p{
            line-height: 18px;
        }
        span{
            color: #6D6E76;
            font-size: 24px;
            padding-bottom: 10px;
        }
        .text-muted{
            font-size: 14px;
        }
        .one{
            font-family: 'Times New Roman', Times, serif;
        }
        .two{
            font-family: 'Courier New', Courier, monospace;
        }
        .three{
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .four{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .five{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        h3{
            line-height: 1px;
            .far{
                transform: scale(0.4);
            }
            .fab{
                transform: scale(1.3);
            }
        }
    }
}
.testimonials{
    .container{
        background-color:#f8f1e0 ;
        .card{
            background-color: #f8f1e0;
            border: unset;
            padding-top: 4em;
        }
        .right{
            padding-top: 1em;
        }
        .vallem{
            padding-top: 4em;
        }
        .btn__block{
            padding-top: 5em;
            padding-left: 4em;
            .btn{
                border-radius: 100%;
                height: 60px;
                width: 60px;
                ;
            }
        }
    }
}
.join{
    .container{
        background-color: white;
        .card{
            background-color: white;
        }
    }
}
.container-fluid-2{
    background-color:#232536;
    .container{
        background-color: #363849;
        padding-top: 2em;
        padding-bottom: 2em;
        .form-control{
            background-color: #363849;
            width: 300px;
            margin-left: 2em;
        }
        button{
            margin-left: 1em;
            width: 100px;
            height: 40px;
            font-weight: 500;
            font-size: 0.8em;
            border-radius:unset;
            background-color:#FFD050
        }
    }
}
